{% extends "templates/comments/base.html" %}

{% block about %}

<main><div class="section" id="index-banner">
  <div class="container">
    <div class="row">
      <div class="col s12 m9">
        <h1 class="header center-on-small-only">RAPE MYTHS ONLINE</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!--  Outer row  -->
  <div class="row">
    <div class="section col s12 m9 l10">
      <div id="about" class="row scrollspy">
        <p class="caption col s12">
          This is a collection of user comments and comment excerpts from over 20 online articles on the topic of sexual assault and rape culture.   They are divided into themes, each of which perpetuates, strongly or subtly, a different kind of rape myth [read about rape myths <a href="http://www.wavaw.ca/mythbusting/rape-myths/">here</a>].  The purpose of this project is to demonstrate one aspect of what rape culture looks like online: people using ‘reasonable’ arguments and discourses to deflect responsibility from rape perpetrators onto victims, feminists, minorities, politicians, and institutions.
          <br/></p>

          <p><h6><b>Note: each of the articles I sourced for the data also had users commenting in a supportive, empathetic or statistically informed way, but this was far less common than the perpetuation of rape myths and victim-blaming. Users visiting this site are welcome to contribute comments they have read [along with their source] into any existing category, or propose an additional category. Submissions go here. The articles I copied all the comments from are listed here.</b></h6>
          </p>
          <br/>
          <p class="caption col s12">The themes or myths are ranked from most to least common in my data set.</p>
          <p class="caption col s12">
            <b>Theme 1:</b> Allegations.  The most common kind of rape myth – this is untrue, hearsay, insufficiently proven, etc.  Key words: ‘he said she said’; ‘properly define sexual assault’; ‘alleged’
            <br/>
            <b>Theme 2:</b> “Reasonable” risk prevention.  This discourse encourages potential victims to prevent the possibility of rape through various ‘sensible’ methods, usually described metaphorically [e.g. locking your house at night] by comparison of human bodies to property.
            <br/><br/>
            <b>Theme 3:</b> Facts of life.  Proponents of this discourse scoffs at the notion of systemic education as a form of rape prevention, claiming that such things are inevitable, because human nature.  Key words: ‘get real’; ‘maybe in your world…’; ‘biology’; ‘sociopaths’
            <br/><br/>
            <b>Theme 4:</b> It’s a feminist conspiracy.  Many news reports on sexual assault are taken as an invitation to vent against feminism, the implication being that rape is not a thing that happens so much as a scheme for feminists to seize social dominance. 
            <br/><br/>
            <b>Theme 5:</b> Victim complex.  A combination of themes 1 and 2.  Users perpetuating this discourse claim that – in essence – victims should get over themselves.
            <br/><br/>
            <b>Theme 6:</b> Demon drink.  An extension of ‘reasonable’ risk prevention [stop getting so drunk, ladies]. Again, the purpose of the discourse is to blame sexual assault on something other than perpetrators.
            <br/><br/>
            <b>Theme 7:</b> Male victims are being ignored! What about the men?
            <br/><br/>
            <b>Theme 8:</b> Politicians and savages.  Indignation towards rape perpetrators was a very rare sighting in my research, but there were several instances of passionate moral outrage towards Other Cultures [especially the Muslims], and politicians [especially Obama].
            </p>
      </div>
    </div>
  </div>
</div>

</main>

{% endblock %}