{% extends "templates/comments/base.html" %}

{% block category %}
<main><div class="section" id="index-banner">
  <div class="container">
    <div class="row">
      <div class="col s12 m9">
        <h1 class="header center-on-small-only">{{ category.name }}</h1>
      </div>
      <div class="col s12 m3">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!--  Outer row  -->
  <div class="row">

    <div class="section col s12 m9 l10">
      <div id="download" class="row scrollspy">
          <h2 class="col s12 header"></h2>
        <p class="caption col s12">{{ category.description }}</p>
      </div>
    </div>
  </div>
      {% for comment in comments %}
         <blockquote>{{ comment.body }}</blockquote>
      {% endfor %}
  </div>


</div>

</main>
{% endblock %}